.app-layout .content-holder {
  padding: 64px 100px;
  max-height: calc(100vh - 64px);
  overflow: auto;
  background-color: #dededf;
}

.fill-height.center {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto !important;
  height: 100vh !important;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
}
